html, body {
  height: 100%;
}

/* 36px - button size in materialize */
.map {
  height: calc(100% - 36px);
}

.freebie-title {
  font-weight: bold;
  font-size: 16px;
}

a.to-index {
  position: absolute;
  z-index: 1001;
  right: 4%;
  top: 2%;
}
a.to-index > i {
  color: black;
}

button.contact-us {
  color: black;

  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

button.contact-us-desktop {
  position: absolute;
  z-index: 1001;
  right: 2%;
  bottom: 4%;

  color: black;

  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

div.freebee-type  {
  margin-top: 0.5rem;
  margin-bottom: 0px;
}

.cancel, .submit {
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

ul.sidenav {
  height: 100vh;
  width: 100%;
  z-index: 1001;
}

ul.sidenav > li.user-view {
  padding-top: 0px;
  height: 100vh;
}

.sidebar-title {
  text-align: center;
  padding-bottom: 10px;

  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

ul.sidenav .user-view {
  padding: 24px 16px 0;
}

@media only screen and (min-width: 768px) {
  #map {
    height: 100%;
  }

  a.to-index {
    right: 2%;
  }

  ul.sidenav {
    width: 400px;
  }
}
