@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes pulse {
  0% {
      opacity: 0.9;
  }
  50% {
      opacity: 1;
  }
  100% {
    opacity: 0.9;
  }
}

html {
  background-color: #111111;
}

body {
  width: 100%;
  background-color: #111111;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  animation: fadein 2s;
  -webkit-animation: fadein 2s;
}

header {
  position: relative;
  width: 100%;
  height: 64px;
  background-color: #111111;
  display: flex;
  flex-direction: column ;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
}

.header-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
}

.anchor-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  margin-left: 5em;
}

.mobile-map {
  display: none;
}

.map-link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: stretch;
  align-items: center;
  margin-right: 5em;
}

.header-link, .header-divider {
  color: #e0b800;
}

.header-divider {
  text-indent: 0;
  margin: 0 4px;
}

.header-link {
  padding: 1.5em 0.5em;
  text-decoration: none;
}

.header-link:hover {
  text-decoration: underline;
}

.header-link:active {
  color: #ffda29;
}

.main-screen {
  width: 100%;
  height: calc(100vh - 64px);
  background-color: #111111;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.logo-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.main-logo {
  height: 96px;
  width: auto;
  animation: pulse 10s infinite;
}

.main-logo-title {
  margin: 1.5em 0;
}

.main-logo-title > q {
  color: #f5c900;
  opacity: 1;
  transition: 1s opacity;
}

.links-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.link-icon {
  margin: 0 1.5em;
}

.link-icon svg {
  width: 2.3em;
  fill: #e0b800;
}
a:hover > .link-icon > svg {
  transform: rotate(360deg);
  transition: 400ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 400ms;
  -webkit-transition-timing-function: ease-in-out;
}
a:active > .link-icon > svg {
  fill: #ffda29;
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

.title-container {
  background-color: #222222;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.title {
  margin: 2.5em 0;
  color: #f5ca00;
}

.about-project {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  background-color: #2b2b2b;
}

.description {
  width: 60%;
  padding-top: 2em;
  padding-bottom: 4em;
  background-color: #303030;
}

.row {
  padding: 0 2.5em;
}

.row a {
  color: #ffd62e;
  text-decoration: none;
}

.row a:hover {
  text-decoration: underline;
}

.row a:active {
  color: #ffda29;
}

.about-platform {
  padding: 5em 6em 7em;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.about-platform a {
  font-size: 16px;
}

.application-container {
  margin: 2em 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.line {
  width: 70%;
  margin: 4em 0;
  border-top: 2px dashed #e0b800;
}

.application-description, .application-visual {
  width: 50%;
}

.application-visual {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.application-image-map {
  height: 200px;
}

.application-image-phone {
  height: 256px;
}

.application-description {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.application-link {
  margin: 1em;
  color: #e0b800;
  text-decoration: none;
  font-size: 16px;
}

.application-link:hover {
  color: #ffda29;
  text-decoration: underline;
}

.application-link:active {
  color: #ffda29;
}

.application-text {
  color: #bdbdbd;
  text-align: center;
}

.contacts {
  padding: 0 6em 6em 6em;
  background-color: #080808;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.contacts > h1 {
  color: #dbb400;
}

.contacts-container {
  height: 100%;

  padding: 4em;

  border: 2px dashed #dbb400;
}

.contacts-container li {
  color: #b8b8b8;
}

.contacts-container a {
  color: #dbb400;
  text-decoration: none;
  font-size: 16px;
}

.contacts-container a:hover {
  text-decoration: underline;
}

.contacts-container a:active {
  color: #ffda29;
}

footer {
  padding: 6em 0;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

.footer-logo-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.footer-logo {
  height: 96px;
  animation: pulse 10s infinite;
}

.column-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}

.column {
  margin-left: 2em;
  margin-right: 2em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: left;
}

.column h4 {
  color: #b3b3b3;
}

.footer-link {
  font-size: 0.95em;
  margin-top: 0.3em;
  color: #d6b000;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-link:active {
  color: #ffda29;
}


